[core]
	excludesfile = /Users/joao/.gitignore
	autocrlf = false
	safecrlf = true
[user]
	name = Joao Moreno
	email = mail@joaomoreno.com
[push]
	default = upstream
[alias]
	co = checkout
	ci = commit
	hist = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	sync = !git pull && git push
	pr = "!f() { git checkout -b pr/$1 && git pull --no-rebase ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -d $branch ; done"
	pr-merge = "!f() { PR=$(git symbolic-ref HEAD) && ([[ \"$PR\" == \"refs/heads/pr/\"* ]] && (git checkout master && git merge $PR) || echo \"HEAD is not a PR branch: $PR\"); }; f"
[pull]
	rebase = true
[color]
	status = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
