[user]
	email = mail@joaomoreno.com
	name = Joao Moreno
[alias]
	co = checkout
	ci = commit
	st = status
	hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
	pr = "!f() { git checkout -b pr/$1 && git pull --no-rebase ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head; }; f"
	pr-clean = "!git for-each-ref refs/heads/pr/* --format=\"%(refname)\" | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
	pr-merge = "!f() { PR=$(git symbolic-ref HEAD) && ([[ \"$PR\" == \"refs/heads/pr/\"* ]] && (git checkout master && git merge $PR) || echo \"HEAD is not a PR branch: $PR\"); }; f"
[pull]
	rebase = merges
[includeIf "gitdir:~/Work/**"]
	path = ~/.gitconfig.work
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[sendemail]
	smtpuser = mail@joaomoreno.com
	smtpserver = smtp.googlemail.com
	smtpencryption = tls
	smtpserverport = 587
