#include "/home/joao/src/Xresources-themes/xcolors-chalk.Xresources"
URxvt.scrollBar:	false
URxvt.font:		xft:Fira Code Medium:pixelsize=13:antialias=true:hinting=true
URxvt.boldFont:		xft:Fira Code Medium:bold:pixelsize=13:antialias=true:hinting=true
Xcursor.size:		16
